{
  "presets": [
    ["env", { "modules": false }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-flow-comments",
  ],
  "env": {
    "test": {
      "plugins": [
        // Makes power-assert work
        "espower"
      ]
    }
  }
}
