{
  "presets": [
    "es2015-rollup",
    "stage-1",
    "react"
  ],
  "plugins": [
    "transform-flow-comments",
  ],
  "env": {
    "test": {
      "plugins": [
        // Makes power-assert work
        "espower"
      ]
    }
  }
}
