{
  "extends": [
    "aviarc"
  ],
  "env": {
    "amd": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "console": true
  },
  "rules": {
    "no-console": "off",
    "react/no-find-dom-node": "off",
    "react/forbid-foreign-prop-types": "off",
    "max-lines": [
      "error",
      {
        "max": 500
      }
    ]
  }
}
