{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": 0,
    "quotes": [1, "single"],
    "curly": [1, "multi-line"],
    "camelcase": 0,
    "comma-dangle": 0,
    "no-console": 2,
    "no-use-before-define": [1, "nofunc"],
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "new-cap": 0,
    "prefer-const": 1,
    "semi": 1
  },
  env: {
    "browser": true,
    "node": true
  },
  globals: {
    // For Flow
    "ReactElement",
    "ReactClass",
    "$Shape",
    "MouseTouchEvent",
  }
}
