{
  "rules": {
    "strict": 0,
    "quotes": ["single"],
    "curly": "multi-line",
    "camelcase": 0,
    "no-use-before-define": "nofunc",
    "no-underscore-dangle": 0,
    "no-unused-vars": 0,
    "new-cap": 0
  },
  env: {
    "browser": true,
    "node": true
  }
}
