language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4.0"
before_script:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
email:
  on_failure: change
  on_success: never

